@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.nav img {
    width: 48px;
    height: 50px;
}
.nav h3 {
    font-size: medium;
}
.logo {
    display:flex;
}
.nav ul {
    display: flex;   
}

.nav ul li {
    list-style: none;
    margin-right: 30px;
}
.nav {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
#banner img {
    margin: 30px 170px;
    border-radius: 16px;
     background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(19, 19, 24) 100%);
}
#banner h1 {
    color: rgb(159, 55, 55);
    font-size: 50px;
    position: absolute;
    margin-top: -440px;
    margin-left: 520px;
}
#banner p {
    color: white;
    position: absolute;
    margin-top: -370px;
    margin-left: 300px;
}
.btn {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    border-radius: 8px;
    background: #FF900E;
    padding: 18px 21px 18px 21px;
    position: absolute;
    cursor: pointer;
    margin-top: -300px;
    margin-left: 900px;
}
.btn button {
    color: #FFF;
    background-color: #FF900E;
    border: none;
}
.btn1 {
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    border-radius: 8px;
    background: #FF900E;
    padding: 18px 21px 18px 21px;
    position: absolute;
    cursor: pointer;
    margin-top: -298px;
    margin-left: 400px;
    color: black;
    background-color: #FFF;
    border: none;
}
.btn2 {
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    border-radius: 8px;
    background: #FF900E;
    padding: 18px 21px 18px 21px;
    position: absolute;
    cursor: pointer;
    margin-top: -300px;
    margin-left: 550px;
    color: black;
    background-color: #FFF;
    border: none;
}
.btn3 {
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    border-radius: 8px;
    background: #FF900E;
    padding: 18px 21px 18px 21px;
    position: absolute;
    cursor: pointer;
    margin-top: -298px;
    margin-left: 700px;
    color: black;
    background-color: #FFF;
    border: none;
}
.btn2 select {
      position: relative;
      margin-right: 2px;
}
.pic1 {
    display: flex;
}
.pic1 img {
    width: 500px;
    height: 500px;
}
.pic1 .text {
    display: block;
    width: 50%;
    margin-top: 0;
    margin-left: 100px;
}
.text h2 {
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.text p {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.text ul li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.text button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    border-radius: 8px;
    background: #FF900E;
    padding: 15px 21px 15px 21px;
    position: absolute;
    cursor: pointer;
}
.main h2 {
    text-align: center;
    margin-top: 100px;
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.main p {
    text-align: center;
    margin-top: 30px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.main img {
    width: 550px;
    height: 300px;
    position: absolute;
    margin-top: -20px;
    padding: 100px;

}
.senary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 13px;
    font-size: 28px;
    font-weight: 800;
    margin-left: 130px ;
    margin-right: 130px;
}
.senary img {
        width: calc( (100% - 10px) );
}
.Maldives h3 {
    color: white;
     text-align: center;
     font-size: 28px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
     position: absolute;
     margin-top: -140px;
     margin-left: 220px;
}
.Indonesia h3 {
    color: white;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    margin-top: -140px;
    margin-left: 250px;
}
.row {
    display: flex;
    margin-bottom: 13px;
    top: 15px;
    font-size: 28px;
    font-weight: 800;
    margin-left: 130px ;
    margin-right: 130px;
}
.row div {
    flex: 1;
}
.row img {
   
    width: 274px;
    height: 286px;
    width: calc( (100% - 10px) );
    top: calc( (100% - 10px) );
}
.Srilanka h3 {
    color: white;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    margin-top: -135px;
    margin-left: 150px;
}
.North-America h3 {
    color: white;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    margin-top: -135px;
    margin-left: 120px;
}
.Kashmir h3 {
    color: white;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    margin-top: -135px;
    margin-left: 130px;
}
.finish {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 130px ;
    margin-right: 130px;
}

.finish img {
    width: calc( (100% - 10px) );
    top: calc( (100% - 10px) );
}
.finish div {
    flex: 1;
}
.finish .Bangladesh {
    width: 500;   
}
.Bangladesh h3 {
    color: white;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    margin-top: -135px;
    margin-left: 130px;
}
.finish .Bandarban {
    width: 740px;
    font-size: 8px;
    font-weight: 0;
}
.Bandarban h3 {
    color: white;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    margin-top: -135px;
    margin-left: 260px;
}
.cointainer {
    display: block;
    text-align: center;
}
.cointainer h3 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.cointainer p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: -20px;
}
.box-one {
    display: block;
    width: 573px;
    height: 284px;
    border: 2px dotted blue;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-left: 130px;
}
.box-one img {
    width: 50px;
    height: 50px;
    margin-left: 8px;
    padding: 50px 0 0 0;
}
.box-one h5 {
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 8px;
    margin-top: 10px;
}
.box-one p {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.box-two {
    display: block;
    width: 573px;
    height: 284px;
    border: 2px dotted blue;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-left: 20px;
}
.box-two h5 {
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 8px;
    margin-top: 10px;
}
.box-two img {
    width: 50px;
    height: 50px;
    margin-left: 8px;
    padding: 50px 0 0 0;
}
.box-two p {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.boxes {
    display: flex;
    margin-left: 150px ;
    margin-right: 150px;
    font-weight: 800;
}
.box-three {
    display: block;
    width: 573px;
    height: 284px;
    border: 2px dotted blue;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-left: 500px;
    margin-top: 20px;
}
.box-three img {
    width: 50px;
    height: 50px;
    margin-left: 8px;
    padding: 50px 0 0 0;
}
.box-three p {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.box-three h5  {
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 8px;
    margin-top: 10px;
}
.card {
    height: 230px;
    width: 200px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    padding: 12px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
     transition: 0.25s;
    background-position: center;
    background-size: cover;
    grid-column: 5px ;
}
.col {
    display: flex;
    margin-bottom: 13px;
    top: 15px;
    font-size: 28px;
    font-weight: 800;
    margin-left: 130px ;
    margin-right: 130px;
    gap: 100px;
}
.card1 h2 {
    margin-top: -100px;
    color: white;
}
.card2 h2 {
    margin-top: -100px;
    color: white;
}
.card3 h2 {
    margin-top: -100px;
    color: white;
}
.card4 h2 {
    margin-top: -100px;
    color: white;
}
.card1:hover {
    transform: translateY(10px);
}
.card2:hover {
    transform: translateY(10px);
}
.card3:hover {
    transform: translateY(-10px);
}
.card4:hover {
    transform: translateY(-10px);
}
.wrapper {
    width: 450px;
    background: rgb(240, 235, 231);
    position: absolute;
    margin-top: 150px;
    margin-left: 12%;
    border: 2px solid #FF900E;
    padding: 0 0 0 5px;
}
.wrapper h2 {
    text-align: center;
    font-size: 36px;
}
.wrapper p {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.wrapper .input-box {
    width: 90%;

} 
.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 15px 10px 26px;

}
.input-box #password {
    width: 393px;
    height: 52px;
}
.wrapper .submit {
    width: 100%;
    height: 45px;
    background: orangered;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #FFF;
}
.grid {
    display: flex;
}
.flex img {
    width: 700px;
    height: 330px;
    position: absolute;
    margin-top: 150px;
    margin-left: 50%;
}
.discounts {
    width: 200px;
    height: 110px;
    background-color: orangered;
    color: #FFF;
    text-align: center;
    border-radius: 16px;
    position: absolute;
    margin-top: 320px;
    margin-left: 82.8%;
    transform: rotate(-45deg);
}
.discounts h3 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    position: absolute;
    margin-top: 50px;
    margin-left: 30px;
    text-align: center;
}
.discounts h5 {
    color: #FFF;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: absolute;
    margin-left: 70px;
    margin-top: 25px;
}